body {
    margin: 60px auto;
    width: 80%;
    background-color: mediumspringgreen;
    background-image: url(../img/ink.jpg);
    background-blend-mode: darken;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: springgreen;
}

h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
    text-shadow: -3px 3px palevioletred;
    padding: 3px 0px 3px 15px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.thumbnail{
    width: 125%;
    margin-left: -40px;
    margin-top: -20px;
    margin-bottom: -6px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
}

ul.posts li {
    list-style: none;
}

.post-container{
    padding: 15px;
}

.post-containter:hover{
    filter: brightness(150%);
}

.case-study-bg{
    background-color: rgba(255,255,255, 0.07);
    background-blend-mode: multiply;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2), 0 1px 15px 0 rgba(0, 0, 0, 0.4);
}

.case-study{
    background-image: linear-gradient(to top, rgba(219, 112, 146, 0.58), #ffff0000);
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.details-cont{
    width: 100%;
    text-align: right;
    font-size: .9rem;
    font-family: sans-serif;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.details-cont a {
    color: white;
}

.date-cont{
    text-align: right;
    font-size: .8rem;
    color: #f3f3f3;
    font-family: monospace;
    padding-top: 10px;
    padding-right: 10px;
}




@media only screen and (min-width: 647px){

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;
    }
    
}


@media only screen and (min-width: 900px){

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    }
    
}
